#tab-controls-container {
    height: var(--tab-container-height);
    display: flex;
    align-items: center; /* Align items in the center vertically */
    border-bottom: 1px solid var(--body-border-color);
    background-color: var(--tabs-bkgnd-color);
    flex-wrap: nowrap;
}

#tabs {
    display: flex;
    flex-grow: 1;
    overflow-x: auto; /* Allows tabs to scroll horizontally if needed */
    background-color: var(--tabs-bkgnd-color);
    white-space: nowrap;
}

.tab {
    display: flex;
    padding: 0.75rem 3rem 0.75rem 0.75rem; /* Increase padding to the right to account for the close button */
    cursor: pointer;
    border-right: 1px solid var(--body-border-color);
    background-color: var(--tabs-bkgnd-color);
    color: var(--body-foreground-color);
    font-size: var(--font-size);
    align-items: center;
    position: relative; /* For positioning of the close button */
    flex-shrink: 0;
}

.tab.active {
    background-color: var(--body-background-color);
}

.tab.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--base-highlight-color);
}

.tab button.close-tab {
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--body-foreground-color);
    cursor: pointer;
    font-size: var(--font-size);
    position: absolute;
    right: 0px;
    top: 50%;
    padding: 0.5rem 0.75rem; /* Add padding for better click area */
    transform: translateY(-50%); /* Center the button vertically */
    transition: background-color 0.3s;
}

.tab button.close-tab:hover {
    background-color: var(--error-color);
    color: var(--body-intense-fgnd-color);
}

#controls {
    background-color: var(--body-border-color);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
